.card{
    max-width: 413px;
}

.card__image{
    height: 413px;
    width: 413px;
    margin-bottom: 12px;
    object-fit: cover;
    border-radius: 8px;
}

.card__like-btn{
    background-image: url(../images/Union.svg);
    height: 20px;
    width: 23px;
    border: none;
    background-color: transparent;
    opacity: 40%;
}

.card__like-btn:hover{
    opacity: 100%;
    cursor: pointer;
}

.card__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title{
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 353px;
    margin: 0;
}


@media screen and (max-width: 627px){
    .card__image{
        height: 288px;
        width: 288px;
    }
    .card__title{
        font-size: 16px;
        width: 250px;
        line-height: 16px;
    }

    .card__like-btn{
        width: 20px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}