.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.15s linear 0s, visibility 0s 0.15s;
}

.modal_opened {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.15s linear 0s;
}

.modal__container {
    background-color: #fff;
    padding: 32px 50px;
    max-width: 730px;
    position: relative;
    border-radius: 8px;
}

.modal__close-btn {
    top: 32px;
    position: absolute;
    right: 50px;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url(../images/Group-27.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    opacity: 40%;
    transition: opacity 0.3s;
}

.modal__close-btn:hover {
    cursor: pointer;
    opacity: 100%;
}

.modal__close-btn_type_image-preview{
    background-image: url(../images/Property-1=Variant3.svg);
    top: -8px;
    right: -40px;
}

.modal__close-btn_type_image-preview:hover{
    background-color: transparent;
    cursor: pointer;
    opacity: 80%;
    transition: opacity 0.3s linear 0s, background-image 0.15s, background-color 0.15s;
}

.modal__title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #212121;
    margin: 0 0 32px;
}

.modal__label {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 110.00000000000001%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #212121;
}

.modal__input {
    color: #000000;
    border-width: 1px;
    padding: 16px 12px;
    width: 630px;
    border-radius: 8px;
    transition: border-color 0.3s linear 0s;
    margin: 0;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover{
    transition: border-color 0.3s linear 0s;
    border: 1px solid rgba(33, 33, 33, 0.8);
}

.modal__input::placeholder{
  color: rgba(33, 33, 33, 0.3);
}

.modal__input_type_error {
  border: 1px solid #FF0000;
}

.modal__submit-btn {
    border: transparent;
    border-radius: 8px;
    padding: 18px 32px;
    width: 156px;
    background-color: #212121;
    color: #fff;
}

.modal__submit-btn:hover {
    transition: opacity 0.3s;
    cursor: pointer;
    opacity: 80%;
}

.modal__submit-btn_disabled{
    opacity: 40%;
}

.modal__image {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 8px;
}

.modal__caption{
    color: #fff;
    width: fit-content;
    margin: 0;
    background-color: #212121;
    border-radius: 8px;
    padding: 8px;
}

.modal__content{
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
}

.modal__error {
    color: red;
    margin-top: 8px;
    visibility: hidden;
}

.modal__error-active{
    visibility: visible;
}

.modal__form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 320px){
    .modal__container {
        width: 280px;
        padding: 12px;
    }

    .modal__input {
        width: 250px;
        margin: 0 0 32px;
    }

    .modal__title {
        font-size: 20px;
    }

    .modal__close-btn {
        top: 8px;
        right: 12px;
    }

    .modal__submit-btn {
        width: 280px;
    }

    .modal__image {
        max-width: 90vw;
        max-height: 200vw;
    }

    .modal__close-btn_type_image-preview{
        top: -40px;
        right: -6px;
    }
}